sftp-config.json
*.log
magrathea.conf
api/logs/*
backups/*.sql

docker/.env
api/vendor
api/src/vendor
api/src/vendor/*
api/.composer.lock
api/composer.phar
api/medias/*

database/dunedin.tgz

.DS_Store

node_modules/
