sftp-config.json
*.log
magrathea.conf
api-php/logs/*
backups/*.sql

docker/.env
api-php/vendor
api-php/src/vendor
api-php/.composer.lock
api-php/composer.phar
api-php/medias/*

database/dunedin.tgz

.DS_Store

node_modules/

medias/
