sftp-config.json
*.log
magrathea.conf
api-php/logs/*
backups/*.sql

docker/.env
api-php/vendor
api-php/src/vendor
api-php/.composer.lock
api-php/composer.phar
api-php/medias/*
api-php/cache/*

database/dunedin.tgz

.angular
.DS_Store

web/node_modules
web/dist
node_modules/

medias/
