.small {
	font-size: 12px;
	padding: 5px 10px;	
}

.subcaption {
	width: 100%;
	font-size: 0.8rem;
	font-style: italic;
	float: left;
}

.btn span {
	margin-left: 5px;
}

.loading-component {
	display: block;
	float: right;
	position: relative;
	margin-right: 50px;
}
