<app-window
	title="Search"
	icon="fa-search"
	[loading]="loading"
	[showClose]="false">
	<span actions>
		<a class="transition" (click)="refresh()">
			<i class="fa fa-refresh"></i></a>
	</span>

<div class="row">
	<div class="col-sm-9">
		<app-input
			id="search-input"
			[(value)]="query"
			label="Search"
		></app-input>
	</div>
	<div class="col-sm-3">
		<app-button
			[class]="['btn', 'label-margin', 'w-100']"
			type="primary"
			caption="Search"
			icon="fa-search"
			(action)="refresh()"
		></app-button>
	</div>
</div>
</app-window>