<app-window
	icon="fa-lock"
	[loading]="loading"
	[showClose]="false"
	[title]="'my-account.change-password'| transloco"
>
	<form [formGroup]="form!"  [ngClass]="{ 'form-validate': form?.touched }">
		<div class="row">
			<div class="col-sm-4">
				<app-input
					id="password"
					formControlName="password"
					label="my-account.password"
					[required]="true"
				></app-input>
			</div>
			<div class="col-sm-4">
				<app-input
					id="password"
					formControlName="match_password"
					label="my-account.password-check"
					[required]="true"
				></app-input>
			</div>
			<div class="col-sm-4 label-margin">
				<app-button
					type="primary"
					caption="my-account.generate-password"
					(action)="genPassword()"
				></app-button>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 offset-sm-6">
				<app-button
					[loading]="loading"
					type="save"
					(action)="save()"
				></app-button>
			</div>
		</div>
	</form>

</app-window>

